<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644449842051-81rri5309j4ofbji8gesdhkebimgkjkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644449842051-81rri5309j4ofbji8gesdhkebimgkjkl</string>
	<key>API_KEY</key>
	<string>AIzaSyA4FrYdRXBehpLTZGS5PtqH3WzRlujX0aM</string>
	<key>GCM_SENDER_ID</key>
	<string>644449842051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bisbano.BCstudy</string>
	<key>PROJECT_ID</key>
	<string>bcstudy-7bc5a</string>
	<key>STORAGE_BUCKET</key>
	<string>bcstudy-7bc5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644449842051:ios:54e9c75cf814abca</string>
	<key>DATABASE_URL</key>
	<string>https://bcstudy-7bc5a.firebaseio.com</string>
</dict>
</plist>